<div class="intro">
  <div class="large-12 columns intro-pic ">
    <div class="intro-pic"></div>
    <!-- <img class="intro-pic" src="http://i.imgur.com/37JJenm.jpg"/> -->
    <h1>Welcome to <span class="purple">Shelf It</span> </h1>
    <h3>Your library away from home</h3>
  </div>
</div>

<!-- Begin Books Thumbnails -->
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 medium-4 small-12 columns">
        <br>
        <br>
        <img class="bubbles" src="http://i.imgur.com/yx63i5O.jpg"/>
        <h3 class="bubble-text">Never forget what books you have at home</h3>
      </div>
      <div class="large-4 medium-4 small-12 columns">
        <br>
        <br>
        <img class="bubbles" src="http://i.imgur.com/S9V4ZjU.jpg"/>
        <h3 class="bubble-text">Log in and build your personal shelf</h3>
      </div>
      <div class="large-4 medium-4 small-12 columns">
        <br>
        <br>
        <img class="bubbles" src="http://i.imgur.com/maNiOIb.jpg"/>
        <h3 class="bubble-text">View your shelf on your phone</h3>
      </div>
    </div>  <!-- end row div -->
  </div>  <!-- end large-12 columns -->
</div> <!-- end row div --> 
<!-- end Books Thumbnails -->

<div class="about">
  <div class="row">
    <div class="large-12 columns">
        <hr/>
        <p>Shelf It makes it easy to log the physical books you have at home, making your personal library accessible from anywhere! Simply sign up or log in to see your profile and your shelf. To add a book, just click 'Add a book' link, fill in the book's author and title, press submit, and Shelf It goes to work! We go to the Goodreads library and find your book. Once we've found it we add it to your shelf along with the book's cover!</p>
      <a href><%= link_to "Curious about other shelves? Browse all shelves!", browse_index_path, class: "button expand" %>
      <a id="goodreads" href="https://www.goodreads.com/" class="button expand">Find more books on Goodreads!</a>
      <!-- <a id="goodreads" href="https://www.goodreads.com/">Find more books on Goodreads!</a> -->
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>© Copyright to Stacy Banks</p>
              </div> <!-- end large-6 -->
              <div class="large-6 columns">
                <ul class="inline-list right"></ul>
              </div><!-- end large-6 -->
            </div> <!-- end row -->
          </div> <!-- end large-12 -->
        </footer> <!-- end footer row -->
        </div>
      </div>
    </div>
  </div>



