<h1> Welcome, you poor unfortunate soul! </h1>

<p class="user_info">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p class="user_info">
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p class="button"><%= link_to 'Welcome Page', root_path %></p>
<p class="button"><%= link_to 'Back', users_path %></p>